<div class="careers-hero {{ css_class }}" style="background-image: url('{{ post.thumbnail }}')">
    <div class="container">
        <div class="careers-hero__content d-flex text-white">
            <div><img src="{{ theme.link }}/dist/images/logo.svg"></div>
            <div>
                <h1 class="text-uppercase">{{ post.title }}</h1>
                <div class="reset-last-child">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
</div>
