<section class="page-section page-section--padding80 section-industry-benefits">
    <div class="container">

        {% if section.ib_title %}

            <div class="page-section--heading text-center">
                <h2 class="font-weight-bold text-brand-red">{{ section.ib_title }}</h2>
            </div>

        {% endif %}

        {% if section.ib_benefits_list %}

            <div class="section-industry-benefits__list">

                {% for item in section.ib_benefits_list %}

                    <div>

                        <div class="industry-benefit-item">
                            <div class="industry-benefit-item__image pb-2">
                                <img src="{{ item.image }}" alt="{{ item.title }}">
                            </div>
                            <h3 class="mb-0 font-weight-bold text-brand-red">{{ item.title }}</h3>
                            <div class="reset-last-child industry-benefit-item__content">
                                {{ item.description }}
                            </div>
                        </div>

                    </div>

                {% endfor %}

            </div>

        {% endif %}

    </div>
</section>
