{% set title = custom.title ? custom.title : post.title %}
{% set content = custom.content ? custom.content : '' %}
{% set image = custom.thumbnail ? custom.thumbnail : post.thumbnail %}

<section class="section-page-top {{ section_css_class }}">
    <div class="container-wide">
        <div class="row">
            <div class="col-xl-6" data-aos="fade-down">
                <div class="section-page-top--left-wrap">
                    <h1>{{ title }}</h1>

                    {% if content %}
                        <div class="section-page-top--content">{{ content }}</div>
                    {% endif %}

                    {% if short_description %}
                        <div class="section-page-top--short-description">{{ short_description }}</div>
                    {% endif %}
                </div>
                {% block left_block_below %}{% endblock %}
            </div>
            <div class="col-xl-6" data-aos="fade-up">
                <div class="section-page-top--image-wrap">
                    {% if image %}
                        {% if thumbnail_size %}
                            <img src="{{ image | resize(thumbnail_size.w,thumbnail_size.h) }}">
                        {% else %}
                            <img src="{{ image }}">
                        {% endif %}
                    {% else %}
                        <img src="{{ theme.link ~ '/dist/images/placeholder/placeholder1300x400.jpg' }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
