{% set title = custom.title ? custom.title : post.title %}
{% set image = custom.thumbnail ? custom.thumbnail : post.thumbnail %}

<section class="section-page-top {{ section_css_class }}">
    <div class="container-wide">
        <div class="row">
            <div class="col-xl-6">
                <div class="section-page-top--left-wrap">
                    <h1>{{ title }}</h1>

                    {% if short_description %}
                        <div class="section-page-top--short-description">{{ short_description }}</div>
                    {% endif %}
                </div>
                {% block left_block_below %}{% endblock %}
            </div>
            <div class="col-xl-6">
                <div class="section-page-top--image-wrap">
                    {% if thumbnail_size %}
                        <img src="{{ image | resize(thumbnail_size.w,thumbnail_size.h) }}">
                    {% else %}
                        <img src="{{ image }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
