<section class="section-property-detail-content-tabs">
    <div class="container">
        <ul class="property-detail-tabs nav">
            <li>
                <a class="active" data-toggle="tab" href="#property-info-description">Description</a>
            </li>
            <li>
                <a data-toggle="tab" href="#property-info-location">Location</a>
            </li>

            {% if floorplan_urls %}

                <li>
                    <a data-toggle="tab" href="#property-info-floorplan">Floorplan</a>
                </li>

            {% endif %}

            {% if epc_urls %}

                <li>
                    <a data-toggle="tab" href="#property-info-epc">EPC</a>
                </li>

            {% endif %}

            <li>
                <a data-toggle="tab" href="#property-info-schools">Schools</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="property-info-description" class="tab-pane fade show active">
                <h3 class="tab-pane-hidden-title">Description</h3>
                <div class="property-detail-description-wrapper">
                    <div class="row">
                        <div class="col-xl-4 offset-xl-1 order-lg-2 col-lg-4">
                            {% if department == 'residential-lettings' %}
                                <div class="property-rent-details">
                                    <h3 class="text-uppercase">Letting Details</h3>
                                    <ul>
                                        {% if available_date %}
                                            <li><strong>Let available date:</strong> {{ available_date | date('d F Y') }}</li>
                                        {% endif %}
                                        {% if property_type %}
                                            <li><strong>Let type:</strong> {{ property_type }}</li>
                                        {% endif %}
                                        {% if furnished %}
                                            <li><strong>Furnish type:</strong> {{ furnished }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}

                            {{ fn('propertyhive_template_single_features') }}
                        </div>
                        <div class="col-xl-7 order-lg-1 col-lg-8 mt-3 mt-sm-5 mt-lg-0">
                            {{ fn('propertyhive_template_single_description') }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="property-info-location" class="tab-pane fade">
                <h3 class="tab-pane-hidden-title">Location</h3>
                {{ '[property_map]' | shortcodes }}
            </div>

            {% if floorplan_urls %}

                <div id="property-info-floorplan" class="tab-pane fade">
                    <h3 class="tab-pane-hidden-title">Floor Plan</h3>
                    <div class="property-floorplan-epc-wrap">
                        <div class="row">

                            {% for image_data in floorplan_urls %}

                                <div class="col"><a href="{{ image_data.url }}" data-fancybox="floorplans"><img src="{{ image_data.url }}"></a></div>

                            {% endfor %}

                        </div>
                    </div>
                </div>

            {% endif %}

            {% if epc_urls %}

                <div id="property-info-epc" class="tab-pane fade">
                    <h3 class="tab-pane-hidden-title">EPC</h3>
                    <div class="property-floorplan-epc-wrap">
                        <div class="row">

                            {% for image_data in epc_urls %}

                                <div class="col"><a href="{{ image_data.url }}" data-fancybox="epc"><img src="{{ image_data.url }}"></a></div>

                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}

            <div id="property-info-schools" class="tab-pane fade">
                <h3 class="tab-pane-hidden-title">Schools</h3>
                {#{{ fn('do_shortcode','[locrating_all_in_one_map]') }}#}
                {{ fn('do_shortcode','[locrating_schools_map]') }}
            </div>
        </div>
    </div>
</section>
