<table cellpadding="5" border="1">
    <tr>
        <th style="text-align: left;">First Name</th>
        <td>{{ body.form_data.first_name }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Surname</th>
        <td>{{ body.form_data.surname }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Phone Number</th>
        <td>{{ body.form_data.phone_number }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Email Address</th>
        <td>{{ body.form_data.email_address }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Enquiry Details</th>
        <td>{{ body.form_data.enquiry_text }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Department</th>
        <td>{{ body.form_data.department | capitalize }}</td>
    </tr>
    <tr>
        <th style="text-align: left;">Branch</th>
        <td><a href="{{ fn('get_the_permalink',body.branch.id) }}">{{ body.branch.title }}</a></td>
    </tr>

    {% if body.property.id %}
        <tr>
            <th style="text-align: left;">Property</th>
            <td><a href="{{ fn('get_the_permalink',body.property.id) }}">{{ body.property.post_title }}</a></td>
        </tr>
    {% endif %}
</table>

