Name: {{ body.form_data.first_name }} {{ body.form_data.surname }}
{% if body.property.id %}
    More Details: <a href="{{ fn('get_the_permalink',body.property.id) }}">{{ body.property.post_title }}</a>
{% endif %}
E-mail: {{ body.form_data.email_address }}
Mobile: {{ body.form_data.phone_number }}
Source: {{ body.site_title }}
Enquiry Type: {{ body.form_data.department | capitalize }}
<div style="margin-bottom: 10px;">Message: {{ body.form_data.enquiry_text }}</div>
{% if body.property.id %}
    Property Ref: {{ fn('get_field','_reference_number',body.property.id) }}
{% endif %}
