{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header id="ip-header">
			<div class="site-logo">
				<a href="/">
					<img src="{{ theme.link ~ '/assets/logo.svg' }}" alt="IP GLOBAL" />
				</a>
			</div>
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

        {# 
            Stop Page Performance Timers
            This function is available in functions.php as a global function.
         #}
        {{ function('stop_timber_timer') }}
  
	</body>
</html>
