{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ options.body_start_scripts }}
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
				<form role='search' action='{{ site.link }}' method='GET'>
					<input type='text' name='s' placeholder='Search'/>
					<input type='submit' value='Submit'/>
				</form>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>

			<script type='text/javascript'>
				var crowdAjax = "{{fn('admin_url', 'admin-ajax.php')}}";
			</script>

			{{ function('wp_footer') }}
		{% endblock %}

        {# 
            Stop Page Performance Timer

            This function is available in functions.php as a global function.
         #}
        {{ function('stop_timber_timer') }}

		{{options.body_end_scripts}}
		<script type='application/ld+json'>
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site.name }}",
				"url": "{{ site.url }}",
				"description": "{{ site.description }}",
				"sameAs": [
					{% for profile in options.social_profiles|reverse %}
						"{{ profile.url }}",
					{% endfor %}
				]
			}
		</script>
	</body>
</html>
