{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ options.body_start_scripts }}

        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}

        {% do action('after_header_breadcrumbs') %}

		<section id="content" role="main">
			{#{% if title %}<h1>{{title}}</h1>{% endif %}#}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

        {% include "components/static-sections/newsletter.twig" %}

		{% block footer %}
			<footer id="footer">
				<div class="wrapper">
					{% include 'footer.twig' %}
				</div>
			</footer>

			<script type='text/javascript'>
				var crowdAjax = "{{fn('admin_url', 'admin-ajax.php')}}";
			</script>

			{{ function('wp_footer') }}
		{% endblock %}

        {# 
            Stop Page Performance Timer

            This function is available in functions.php as a global function.
         #}
        {{ function('stop_timber_timer') }}

		{{options.body_end_scripts}}
		<script type='application/ld+json'>
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site.name }}",
				"url": "{{ site.url }}",
				"description": "{{ site.description }}",
				"sameAs": [
					{{ fn('do_shortcode', '[social_links raw="1" delim=","]') }}
				]
			}
		</script>

        {#{% include "components/popups/valuation.twig" %}#}
        {% include "components/popups/new-home-contact.twig" %}
	</body>
</html>
