<div class="container">
    <div class="footer-widgets">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="footer-widgets--widget">
                    {{ footer_widgets1 }}
                </div>
            </div>
            <div class="col-lg-5 col-md-7 mt-5 mt-md-0">
                <div class="footer-widgets--widget menu-2columns">
                    {{ footer_widgets2 }}
                </div>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="footer-widgets--widget menu-2columns">
                    {{ footer_widgets3 }}
                </div>
            </div>
        </div>

        <nav class="footer-supported-brands">
            <ul>
                <li><a target="_blank" href="https://www.mydeposits.co.uk/"><img src="{{ theme.link }}/dist/images/footer-logo1.svg"></a></li>
                <li><a target="_blank" href="https://www.propertymark.co.uk/find-an-expert.html?q=stirling+ackroyd&property_badge="><img src="{{ theme.link }}/dist/images/footer-logo2.svg"></a></li>
                <li><a target="_blank" href="https://www.tpos.co.uk/find-a-member"><img src="{{ theme.link }}/dist/images/footer-logo3.svg"></a></li>
                {#<li><a target="_blank" href="https://www.tpos.co.uk/find-a-member"><img src="{{ theme.link }}/dist/images/tpo-black-logo.jpg"></a></li>#}
                <li><img src="{{ theme.link }}/dist/images/iso9001.jpg"></li>
                {#<li><img src="{{ theme.link }}/dist/images/ISO_9001.jpeg"></li>
                <li><img src="{{ theme.link }}/dist/images/rics-logo.png"></li>#}
            </ul>
        </nav>
    </div>

    <div class="footer-copyright">
        {{ options.footer_address | wpautop }}
        <div class="footer-copyright--nav">
            <div>&copy; {{"now"|date('Y')}} Stirling Ackroyd</div>
            <nav>

                {% include "menu.twig" with {'menu': footer_menu.get_items} %}

            </nav>
            <div class="developed-by">
                Site by <a href="https://thisiscrowd.com" target="_blank">Crowd</a>
            </div>
        </div>
    </div>
</div>
