<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD

    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link ~ '/apple-touch-icon.png' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link ~ '/favicon-32x32.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link ~ '/favicon-16x16.png' }}">
    <link rel="manifest" href="{{ theme.link ~ '/site.webmanifest' }}">
    <link rel="mask-icon" href="{{ theme.link ~ '/safari-pinned-tab.svg' }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ theme.link ~ '/main.css' }}" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115193421-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115193421-1');
    </script> -->

=======
    {% for icon in options.add_favicons %}
        <link rel='{{ icon.content_type }}' sizes='{{ icon.dimensions }}' href='{{ icon.icon_file.url }}' {% if icon.content_type == 'icon' %}type='image/png'{% endif %} />
    {% endfor %}
    <link rel='manifest' href='{{theme.link}}{{ options.manifest_location }}' />
    <meta name='msapplication-config' content='{{theme.link}}{{ options.browserconfig_location }}'/>
>>>>>>> 39e75e3c4062383363b28f7364292603342e8c02
    {{function('wp_head')}}
