<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for icon in options.add_favicons %}
        <link rel='{{ icon.content_type }}' sizes='{{ icon.dimensions }}' href='{{ icon.icon_file.url }}' {% if icon.content_type == 'icon' %}type='image/png'{% endif %} />
    {% endfor %}
    <link rel='manifest' href='{{theme.link}}{{ options.manifest_location }}' />
    <meta name='msapplication-config' content='{{theme.link}}{{ options.browserconfig_location }}'/>
    {{function('wp_head')}}
