{% extends "base.twig" %}

{% block content %}


	<section id="ip-masthead">
		<div class="masthead-img">&nbsp;</div>
		<div class="masthead-content">
			<div class="container">
				<div class="transparent-box clearfix">

					<div class="col-6 col">
						<div class="col-content">
							<h2>UK Property Investments</h2>
							<p>When we think property, we think long term investment. Our approach is built on extensive market research and analysis combined with a significant financial commitment to every investment we offer.</p>
							<p>With our track record of providing investors, distributors, international landlords and developers with high quality property investments, we’re your go-to UK
								investment partner.</p>
						</div>
					</div>
					<div class="col-6 col">
						<div class="col-content">
							<h5>Your UK investment is waiting</h5>
							<p>Fill in our form below to get in contact with one
								of our on-the-ground property consultants.</p>
                            	{{ function('do_shortcode','[contact-form-7 id="10" title="Investment Form"]') }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


	<section id="ip-opportunity-area">
		<div class="container">
			<h3>UK Investment Opportunities</h3>
			<p class="padding-bottom0">Explore current and upcoming investment opportunities in the UK. From hotspots such as London and<br/> Manchester to up and coming local hubs like Liverpool and Leeds.</p>
		</div>
	</section>


	<section id="ip-blocks-area" class="clearfix">
		<div class="container">

			<div class="col-4 col">
				<div class="img-block-area">
					<div class="img-block">
						<img src="{{ theme.link ~ '/assets/ip-volcan-mill.jpg' }}" alt="The Loom at Vulcan Mill" />
						<h5>
							The Loom at Vulcan Mill
							<span>Manchester, UK</span>
						</h5>
					</div>
					<div class="img-orange-bar">
						<p>From GBP 158, 664</p>
					</div>

					<div class="img-statistic-area clearfix">
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-graph.png' }}" width="25" alt="IP Graph" />
								<h6>
									Rental Yield
									<span>Up to 5.60%</span>
								</h6>
							</div>
						</div>
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-percent.png' }}" width="25" alt="IP Percentage" />
								<h6>
									LTV
									<span>Up to 65%</span>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4 col">
				<div class="img-block-area">
					<div class="img-block">
						<img src="{{ theme.link ~ '/assets/ip-quay-central@2x.jpg' }}" alt="Quay Central" />
						<h5>
							Quay Central
							<span>Liverpool, UK</span>
						</h5>
					</div>
					<div class="img-orange-bar">
						<p>From GBP 132, 852</p>
					</div>
					<div class="img-statistic-area clearfix">
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-graph.png' }}" width="25" alt="IP Graph" />
								<h6>
									Rental Yield
									<span>Up to 5.90%</span>
								</h6>
							</div>
						</div>
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-percent.png' }}" width="25" alt="IP Percentage" />
								<h6>
									LTV
									<span>Up to 65%</span>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4 col">
				<div class="img-block-area">
					<div class="img-block">
						<img src="{{ theme.link ~ '/assets/ip-wellington@2x.jpg' }}" alt="Wellington Quarter" />
						<h5>
							Wellington Quarter
							<span>London, UK</span>
						</h5>
					</div>
					<div class="img-orange-bar">
						<p>From GBP 353, 899</p>
					</div>
					<div class="img-statistic-area clearfix">
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-graph.png' }}" width="25" alt="IP Graph" />
								<h6>
									Rental Yield
									<span>Up to 3.60%</span>
								</h6>
							</div>
						</div>
						<div class="col-6 col">
							<div class="statistic-block">
								<img src="{{ theme.link ~ '/assets/vector-percent.png' }}" width="25" alt="IP Percentage" />
								<h6>
									LTV
									<span>Up to 65%</span>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="ip-invest-area">
		<div class="container">
			<h3>Why Invest in the UK Market?</h3>  
			<p>With over 80% of the buyers market in the UK consisting of international investors, the region’s booming economic market, secure legal ownership and positive future outlook all point towards a sustainable return on investment.
			</p>
			<p>Apart from its straightforward and secure process of investing, the demand for rental property is increasing in local hubs such as London, Liverpool, Leeds and Birmingham.
			</p>

			<div id="ip-invest-boxes" class="clearfix">
				<div class="col-3 col">
					<div class="invest-box">
						<div class="invest-box-img"><img src="{{ theme.link ~ '/assets/vector-suplly.png' }}" alt="#" width="45" /></div>
						<h5>Supply and demand</h5>
						<p>In Liverpool, 1,480 new homes are targeted to be built each year. Combined with a legacy of missed targets, since 2009, there is a clear shortfall of supply.
						</p>
					</div>
				</div>

				<div class="col-3 col">
					<div class="invest-box">
						<div class="invest-box-img"><img src="{{ theme.link ~ '/assets/vector-growth.png' }}" alt="#" width="45" /></div>
						<h5>Population growth</h5>
						<p>In Manchester, the population is expected to exceed 615,000 by 2022 - currently it sits
							at 570,730.</p>
					</div>
				</div>

				<div class="col-3 col">
					<div class="invest-box">
						<div class="invest-box-img"><img src="{{ theme.link ~ '/assets/vector-regeneration.png' }}" alt="#" width="45" /></div>
						<h5>Regeneration</h5>
						<p>Liverpool Waters for example
							is undergoing a 5 billion
							GBP regeneration.</p>
					</div>
				</div>

				<div class="col-3 col">
					<div class="invest-box">
						<div class="invest-box-img"><img src="{{ theme.link ~ '/assets/vector-transport.png' }}" alt="#" width="45" /></div>
						<h5>Transport links</h5>
						<p>Crossrail will generate a 30-40% capital growth between 2015 and 2020 for property close to Outer London stations.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="ip-video-area">
		<div class="container">
			<div class="ip-video">
				<iframe id="video-frame" width="1024px" height="600" src="https://www.youtube.com/embed/cPKO8mzOu_w" frameborder="0" encrypted-media" allowfullscreen></iframe> 
			</div>
		</div>
	</section>

	<section id="ip-bottom-form" class="clearfix">
		<div class="container">
			<div class="bottom-holder">
				<h3>Find your next investment</h3>
				<p>Interested in UK property investment? Fill out your details and a consultant will be in touch to go over our latest and upcoming opportunities.</p>

				<div class="btm-form">
					{{ function('do_shortcode','[contact-form-7 id="11" title="Investment Form Bottom"]') }}
				</div>
			</div>
		</div>
	</section>


{% endblock %}