{% extends 'base.twig' %}

{% block content %}

    {% set proeprties = properties_query.get_posts() %}

    <div class="content-wrapper">
        <div class="section-properties">

            <div class="container">
                <div class="property-search-expandable">
                    <a class="property-search-expandable--collapse-control btn btn-lg btn-primary" href="#property-search-collapse-box" data-action="mobileTogglePropertiesFilter"><i class="fal fa-sliders-h" aria-hidden="true"></i> REFINE</a>

                    <div class="property-search-expandable--collapse" id="property-search-collapse-box">
                        <form name="ph_property_search" class="property-search-form mb-0 property-search-form-default clear" action="/" method="get" role="form">
                            <div class="form-controls-wrap">

                                <div class="control control-address_keyword">
                                    <label for="address_keyword">Area or Postcode</label>
                                    <input type="text" name="address_keyword" id="address_keyword" value="{{ request.get.address_keyword }}" placeholder="e.g. EC2" class="pac-target-input" style="" autocomplete="off">
                                </div>

                                {#<div class="control control-radius">
                                    <label for="radius">Radius</label>
                                    <select name="radius" id="radius" class="" data-blank-option="">
                                        <option value="">This Area Only</option>
                                        <option value="1">Within 1 Mile</option>
                                        <option value="2" selected="selected">Within 2 Miles</option>
                                        <option value="3">Within 3 Miles</option>
                                        <option value="5">Within 5 Miles</option>
                                        <option value="10">Within 10 Miles</option>
                                    </select>
                                </div>#}

                                <div class="control control-minimum_desks">
                                    <label for="minimum_desks">Min Desks</label>
                                    <select name="minimum_desks" id="minimum_desks" class="">
                                        <option value="" selected="selected">No min</option>
                                        {% for item in 1..100 %}
                                            <option {{ request.get.minimum_desks == item ? 'selected' }} value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="control control-maximum_desks">
                                    <label for="maximum_desks">Max Desks</label>
                                    <select name="maximum_desks" id="maximum_desks" class="">
                                        <option value="" selected="selected">No max</option>
                                        {% for item in 1..100 %}
                                            <option {{ request.get.maximum_desks == item ? 'selected' }} value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <input type="hidden" name="list_view" value="{{ list_view }}">
                                <input type="hidden" name="sortby" value="{{ list_sortby }}">

                                <div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"><i class="fa-regular fa-magnifying-glass" aria-hidden="true"></i> Update Results</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="property-search-info-wrap">
                <div class="container">
                    <div class="property-search-info-wrap--inner">
                        <h1 class="propertyhive-result-count">
                            Showing {{ properties_page_show1 }}{% if properties_page_show2 and properties_page_show1 != properties_page_show2  %}-{{ properties_page_show2 }}{% endif %} of {{ properties_total }} properties
                            {% if request.get.address_keyword %}
                                <span class="address-keyword-text">IN <span class="keyword-name">{{ request.get.address_keyword }}</span></span>
                            {% endif %}
                        </h1>

                        <div class="propertyhive-views">
                            <ul>
                                <li class="grid-view {{ list_view == 'grid' ? 'active' }}"><a
                                        href="{{ site.link }}?{{ link_query | merge({list_view:'grid'}) | url_encode }}"><i
                                            class="fa-regular fa-border-all" aria-hidden="true"></i> Tile View</a></li>
                                <li class="list-view {{ list_view == 'list' ? 'active' }}"><a
                                        href="{{ site.link }}?{{ link_query | merge({list_view:'list'}) | url_encode }}"><i
                                            class="fa-regular fa-bars-staggered" aria-hidden="true"></i> List View</a>
                                </li>
                                <li class="map-view {{ list_view == 'map' ? 'active' }}"><a
                                        href="{{ site.link }}?{{ link_query | merge({list_view:'map'}) | url_encode }}"><i
                                            class="fa-regular fa-map" aria-hidden="true"></i> Map View</a></li>
                            </ul>
                        </div>

                        {% if list_view != 'map' %}

                            <form class="propertyhive-ordering" method="get">
                                <div class="propertyhive-ordering--inner">
                                    <input type="hidden" name="address_keyword" value="{{ request.get.address_keyword }}">
                                    <input type="hidden" name="minimum_desks" value="{{ request.get.minimum_desks }}">
                                    <input type="hidden" name="maximum_desks" value="{{ request.get.maximum_desks }}">
                                    <input type="hidden" name="list_view" value="{{ list_view }}">

                                    <select name="sortby" class="orderby">
                                        <option value="price-desc" {{ list_sortby == 'price-desc' ? 'selected' }}>Sort by price: high to low</option>
                                        {#<option value="date" {{ request.get.sortby == 'date' ? 'selected' }}>Sort by date added</option>#}
                                        <option value="price-asc" {{ list_sortby == 'price-asc' ? 'selected' }}>Sort by price: low to high</option>
                                    </select>
                                </div>
                            </form>

                        {% endif %}

                    </div>
                </div>
            </div>

            {% if list_view == 'map' %}

                <script>
                    var propertiesCoords = {{ map_properties | json_encode }};
                </script>

                <div id="properties-map" style="height: 600px;"></div>

            {% else %}

                {% if proeprties %}

                    <div class="properties-list-wrapper">
                        <div class="container">

                            <ul class="properties clear view-{{ list_view }}">

                                {% for property in proeprties %}
                                    {% set address = property.address_city ~ ', ' ~ property.address_postcode_short %}

                                    <li class="{{ loop.first ? 'first' }} {{ loop.last ? 'last' }} post-{{ property.id }} type-property status-{{ property.status}}">

                                        <div class="property-item-inner">
                                            <div class="thumbnail">
                                                <a href="{{ property.link }}">
                                                    {% if property.gallery %}
                                                        <img src="{{ property.gallery[0].url }}" alt="{{ property.title }}">
                                                    {% else %}
                                                        <img src="https://place-hold.it/500x500/.jpg?text=No%20Image" alt="{{ property.title }}">
                                                    {% endif %}
                                                    <div class="property-images-count"><i class="fa-light fa-camera" aria-hidden="true"></i> {{ property.gallery | length }}</div>
                                                </a>
                                            </div>

                                            <div class="details">
                                                <div class="d-flex justify-content-between">
                                                    <ul class="property-residential-details">
                                                        <li><i class="fa-light fa-desktop"></i> {{ property.availability_size_desks_from ~ ' - ' ~ property.availability_size_desks_to }}</li>
                                                    </ul>
                                                </div>
                                                <div class="property-item-subtitle">{{ property.title }}</div>
                                                <h6><a href="{{ property.link }}">{{ address }}</a></h6>
                                                <div class="price">
                                                    £{{ property.price_desk_per_month }}
                                                    <span class="price-qualifier">Asking Price</span>
                                                </div>
                                            </div>

                                        </div>
                                    </li>

                                {% endfor %}


                            </ul>

                        </div>
                    </div>

                    {% if properties_query.pagination.pages %}

                        <div class="propertyhive-pagination">
                            <div class="container">
                                <ul class="page-numbers">
                                    {% if properties_query.pagination.prev %}
                                        <li>
                                            <a href="{{properties_query.pagination.prev.link}}" class="prev {{properties_query.pagination.prev.link|length ? '' : 'invisible'}}"><i class="fa-regular fa-angle-left"></i></a>
                                        </li>
                                    {% endif %}
                                    {% for page in properties_query.pagination.pages %}
                                        <li>
                                            {% if page.link %}
                                                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                                            {% else %}
                                                <span class="{{page.class}}">{{page.title}}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

                                    {% if properties_query.pagination.next %}
                                        <li>
                                            <a href="{{properties_query.pagination.next.link}}" class="next {{properties_query.pagination.next.link|length ? '' : 'invisible'}}"><i class="fa-regular fa-angle-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    {% endif %}

                {% else %}

                    <div class="container mt-5 mb-5">
                        <div class="alert alert-warning">No results</div>
                    </div>

                {% endif %}

            {% endif %}

        </div>
    </div>

{% endblock %}
