{% extends "base.twig" %}

{% block content %}

    {% include 'components/static-sections/page-top.twig' with {
        post: post,
        thumbnail_size: {
            w: 650,
            h: 200
        }
    } %}

    <section class="page-section page-section--padding50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">

                    <div class="content-wrapper">
                        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
                            <section class="article-content">
                                <div class="blog-author">
                                    {{ post.post_date|date('d F Y')}}
                                    {% if category_links %}
                                        <span class="separator">/</span>
                                        {{ category_links }}
                                    {% endif %}
                                </div>
                                <div class="article-body">
                                    {{post.content}}
                                </div>
                            </section>
                        </article>
                        <div class="article-footer">

                            {% include 'components/parts/share.twig' %}

                            <a href="{{ fn('get_the_permalink',options.page_url.blog_page) }}" class="btn btn-lg btn-primary text-uppercase">Back to Insights</a>
                        </div>
                    </div><!-- /content-wrapper -->

                    {% include 'static-sections/latest-posts.twig' with {
                        title: 'Related Insights',
                        ignore_container: 1,
                        columns: 2,
                        posts: related_posts_query
                    } %}

                    {% include 'static-sections/promo-area.twig' %}
                </div>
                <div class="col-xl-3 offset-xl-1">

                    {% include 'sidebar-insights.twig' %}

                </div>
            </div>
        </div>
    </section>


{% endblock %}
