{% extends "base.twig" %}

{% block content %}
    {% set gallery_images = post.get_field('ng_gallery') %}
    {% set contacts = post.get_field('nh_contacts') %}
    {% set features = post.get_field('nh_features') %}
    {% set cta_list = fn('get_field','section_new_homes_cta','option') %}
    {% set similar_new_homes = post.get_field('similar_new_homes') %}

    <section class="page-section page-section--padding50 pb-0 section-gallery-images">
        <div class="container">
            <div class="property-detail-back-action-wrap">
                <a href="javascript:;" onclick="history.back();"><i class="fa-regular fa-angle-left"></i> BACK TO NEW HOMES</a>
            </div>

            {% if gallery_images %}

                <div class="gallery-images-wrap">
                    <div class="flexslider" id="slider">
                        <ul class="slides">
                            {% for image in gallery_images %}
                                <li>
                                    <a href="{{ image.url }}" data-fancybox="gallery"><img src="{{ image.url | resize(1170,450,'center') }}" loading="lazy" /></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="thumbnails flexslider" id="carousel" {% if gallery_images | length <= 1 %}style="display: none"{% endif %}>
                        <ul class="slides">
                            {% for image in gallery_images %}
                                <li>
                                    <img src="{{ image.url | resize(170,100,'center') }}" loading="lazy" />
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            {% endif %}

        </div>
    </section>

    <section class="page-section page-section--padding50 section-new-home-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="section-new-home-details--heading">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h1>{{ post.title }}</h1>
                            </div>
                            <div class="col-md-5 d-flex justify-content-md-end">
                                <div class="price-block">
                                    {% if post.nh_price is numeric %}
                                        <div class="price-block--from">Prices From</div>
                                        <div class="price-block--price">£{{ fn('ph_display_price_field',post.nh_price) }}</div>
                                    {% else %}
                                        <div class="price-block--price">{{ post.nh_price }}</div>
                                    {% endif %}
                                    <div class="price-block--flag">New Home</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if post.nh_short_description %}

                        <div class="section-new-home-details--short-description">
                            {{ post.nh_short_description | wpautop }}
                        </div>

                    {% endif %}

                    <div class="section-new-home-details--description content-clear">
                        {{ post.content }}
                    </div>

                    {% if contacts.map %}

                        <div class="section-new-home-details--view-map">
                            <a href="javascript:;" onclick='SA_Common.viewGoogleMap("#google-map-popup",{{ contacts.map | json }})' class="btn btn-lg btn-secondary text-uppercase">View On Map</a>
                            <div style="display: none;" id="google-map-popup" class="google-map-popup">
                                <div class="acf-map" data-zoom="18">
                                    <div class="marker" data-lat="{{ contacts.map.lat }}" data-lng="{{ contacts.map.lng }}"></div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="arrange-viewing-box-wrap">
                        <div id="property-arrange-viewing" class="property-arrange-viewing text-center">
                            <div class="property-arrange-viewing--office-contacts">
                                <h3 class="text-uppercase">Get in Contact</h3>
                                <div class="branch-info">
                                    {% if contacts.phone_number %}
                                        <div>
                                            <a href="tel:{{ contacts.phone_number | replace({' ':''}) }}" class="branch-info--phone-number h3 text-uppercase">{{ contacts.phone_number }}</a>
                                        </div>
                                    {% endif %}
                                    <a href="javascript:;" data-fancybox data-src="#new-home-form-popup" class="btn btn-lg btn-secondary text-uppercase">Email Us</a>
                                </div>
                            </div>
                        </div>
                        <a href="#property-arrange-viewing" data-action="mobileArrangeViewingToggle" class="btn btn-block btn-lg btn-primary btn-mobile-arrange-viewing text-uppercase" data-open_text="Get in Contact" data-close_text="Close"><i class="fas fa-times" aria-hidden="true"></i> <span>Get in Contact</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if post.nh_has_features %}

        <section class="page-section page-section--padding50 section-features-image">
            <div class="container-wide">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-features-image--content-wrap">
                            {% if features.title %}
                                <h2>{{ features.title }}</h2>
                            {% endif %}
                            <div class="section-features-image--content-wrap__content content-clear">
                                {{ features.content }}
                            </div>

                            <div class="section-features-image--content-wrap__actions">
                                <a href="javascript:;" data-fancybox data-src="#new-home-form-popup" class="btn btn-lg btn-secondary text-uppercase">Email Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-features-image--image">
                            <img src="{{ features.image }}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {% if post.nh_properties_development_shortcode %}

        <section class="page-section page-section--padding50 section-new-home-developments">
            <div class="container">
                <div class="page-section--heading text-center text-md-left">
                    <h3 class="text-uppercase">Properties at this development</h3>
                </div>

                {{ post.nh_properties_development_shortcode | shortcodes }}

            </div>
        </section>

    {% endif %}

    {% if cta_list %}

        <section class="page-section page-section--padding50 section-new-home-cta">
            <div class="container">
                <div class="row">

                    {% for cta_item in cta_list %}

                        <div class="col-md-6 {% if not loop.first %}mt-4 mt-md-0{% endif %}">
                            <div class="new-home-cta-block text-center">
                                <a class="new-home-cta-block--thumb-link" href="{{ cta_item.link.url }}" {% if cta_item.link.target %}target="_blank" {% endif%}><img src="{{ cta_item.image_url }}"></a>
                                <div class="new-home-cta-block--content">
                                    <h4 class="text-uppercase">{{ cta_item.title }}</h4>
                                    {{ cta_item.short_description | wpautop }}
                                    {% include 'components/parts/link.twig' with {
                                        link: cta_item.link,
                                        css_class: 'btn btn-lg btn-secondary text-uppercase'
                                    } %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </section>

    {% endif %}

    {% if similar_new_homes %}

        <section class="page-section page-section--padding50">
            <div class="container">
                <div class="page-section--heading text-center text-md-left">
                    <h3 class="text-uppercase">Similar New Homes</h3>
                </div>

                <div class="row">

                    {% for item in similar_new_homes %}

                        <div class="col-lg-4 col-md-6">

                            {% include 'components/global/new-home.twig' with {
                                post: item
                            } %}

                        </div>

                    {% endfor %}

                </div>

            </div>
        </section>

    {% endif %}


{% endblock %}
