{% extends "base.twig" %}

{% block content %}
    {% set key_services = post.get_field('branch_key_services') %}
    {% set opening_hours = post.get_field('branch_opening_hours') %}
    {% set latest_properties = post.get_field('branch_latest_properties') %}
    {% set two_side_cta = post.get_field('branch_two_side_cta') %}

    <div class="branch-contact-details">
        <div class="branch-contact-details--heading bg-primary text-uppercase">
            <div class="container">
                Contact Our {{ post.title }} Branch
            </div>
        </div>
        <div class="branch-contact-details--contacts">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div>
                        <ul class="mb-0">
                            {% if post.branch_sale_phone %}
                                <li><i class="fa-light fa-phone"></i> <a href="tel:{{ post.branch_sale_phone | replace({' ':''}) }}">Sales {{ post.branch_sale_phone }}</a></li>
                            {% endif %}
                            {% if post.branch_let_phone %}
                                <li><i class="fa-light fa-phone"></i> <a href="tel:{{ post.branch_let_phone | replace({' ':''}) }}">Lettings {{ post.branch_let_phone }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="flex-grow-1">
                        {% if post.branch_address %}
                            <div>{{ post.branch_address }}<br><a href="javascript:;" onclick="SA_Common.viewAddressMapImage('{{ post.branch_address | replace({"'":''}) }}','branch-google-map-image');">View on Map</a></div>
                        {% endif %}
                    </div>
                    <div class="contact-emails">
                        {% if post.branch_sale_email_address %}
                            <a target="_blank" href="mailto:{{ post.branch_sale_email_address }}" class="btn btn-lg btn-primary text-uppercase">Email Sales</a>
                        {% endif %}
                        {% if post.branch_let_email_address %}
                            <a target="_blank" href="mailto:{{ post.branch_let_email_address }}" class="btn btn-lg btn-primary text-uppercase">Email Lettings</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% embed 'components/static-sections/page-top.twig' with {
        post: post,
        short_description: post.hero_short_description,
        custom: {
            title: 'Stirling Ackroyd<br>' ~ post.title,
        },
        section_css_class: 'has-reviews-area'
    } %}

        {% block left_block_below %}
            <div class="feefo-widget-wrap">
                <div id="feefo-service-review-widgetId" class="feefo-review-widget-service"></div>
            </div>
        {% endblock %}

    {% endembed %}

    <section class="page-section page-section--padding50">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="content-clear">{{ post.branch_property_expertise | wpautop }}</div>
                </div>
                <div class="col-xl-4 offset-xl-1">
                    <div class="branch-opening-hours-block">

                        {% if opening_hours %}

                            <div class="branch-opening-hours-block--hours-wrap">
                                <h4 class="h3 text-uppercase text-center">Opening Hours</h4>
                                <div class="opening-hours-list">

                                    {% for day, hours in opening_hours %}

                                        <div class="opening-hours-list--row">
                                            <div class="opening-hours-list--day">{{ day | capitalize }}</div>
                                            <div class="opening-hours-list--hours">{{ hours  }}</div>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>

                        {% endif %}

                        {% if key_services %}

                            <div class="branch-opening-hours-block--features-wrap text-center">
                                <h4 class="h3 text-uppercase">KEY SERVICES</h4>

                                <ul>
                                    {% for key_service in key_services %}
                                        <li>{{ key_service.service }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if latest_properties.shortcode %}

        {% include 'components/static-sections/properties.twig' with {
            css_class: 'bg-support5',
            title: latest_properties.title,
            shortcode: latest_properties.shortcode,
            actions: latest_properties.buttons
        } %}

    {% endif %}

    {% if two_side_cta.content_left != '' or two_side_cta.content_right != '' %}

        <section class="page-section page-section--padding50 pb-0 section-two-wide-content-boxes">
            <div class="container-wide">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="bg-primary content-clear half-content-box half-content-box--left-offset">
                            {{ two_side_cta.content_left }}
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="bg-support3 content-clear half-content-box half-content-box--right-offset">
                            {{ two_side_cta.content_right }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {% if post.branch_dataloft_widget_code %}

        <section class="page-section page-section--padding50 section-dataloft">
            <div class="container">
                <div class="page-section--heading">
                    <h2>Your Property Experts</h2>
                </div>

                {{ post.branch_dataloft_widget_code }}

            </div>
        </section>

        {% include 'components/sections/separator.twig' %}

    {% endif %}

    {% include 'static-sections/latest-posts.twig' with {
        title: 'Property Insights',
        posts: insights_list
    } %}

    {% include 'components/sections/separator.twig' %}

    <section class="page-section page-section--padding50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 content-clear">
                    <h2>About {{ post.title }}</h2>
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}
