{% extends "base.twig" %}

{% block content %}
    {% set gallery_images = post.get_field('ng_gallery') %}
    {% set contacts = post.get_field('nh_contacts') %}

    <section class="page-section page-section--padding50 pb-0 section-gallery-images">
        <div class="container">
            <div class="property-detail-back-action-wrap">
                <a href="javascript:;" onclick="history.back();"><i class="fa-regular fa-angle-left"></i> BACK TO SEARCH RESULTS</a>
            </div>

            {% if gallery_images %}

                <div class="gallery-images-wrap">
                    <div class="flexslider" id="slider">
                        <ul class="slides">
                            {% for image in gallery_images %}
                                <li>
                                    <a href="{{ image.url }}" data-fancybox="gallery"><img src="{{ image.url | resize(1170,450) }}" /></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="thumbnails flexslider" id="carousel">
                        <ul class="slides">
                            {% for image in gallery_images %}
                                <li>
                                    <img src="{{ image.url | resize(170,100) }}" />
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            {% endif %}

        </div>
    </section>

    <section class="page-section page-section--padding50 section-new-home-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="section-new-home-details--heading">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <h1>{{ post.title }}</h1>
                            </div>
                            <div class="col-xl-6 d-flex justify-content-end">
                                <div class="price-block">
                                    <div class="price-block--from">Price From</div>
                                    <div class="price-block--price">£{{ fn('ph_display_price_field',post.nh_price) }}</div>
                                    <div class="price-block--flag">New Home</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if post.nh_short_description %}

                        <div class="section-new-home-details--short-description">
                            {{ post.nh_short_description | wpautop }}
                        </div>

                    {% endif %}

                    <div class="section-new-home-details--description content-clear">
                        {{ post.content }}
                    </div>

                    {% if contacts.map %}

                        <div class="section-new-home-details--view-map">
                            <a href="javascript:;" onclick='SA_Common.viewGoogleMap("#google-map-popup",{{ contacts.map | json }})' class="btn btn-lg btn-secondary text-uppercase">View On Map</a>
                            <div style="display: none;" id="google-map-popup" class="google-map-popup">
                                <div class="acf-map" data-zoom="18">
                                    <div class="marker" data-lat="{{ contacts.map.lat }}" data-lng="{{ contacts.map.lng }}"></div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
                <div class="col-xl-4">
                    <div class="property-arrange-viewing text-center">
                        <div class="property-arrange-viewing--office-contacts">
                            <h3 class="text-uppercase">Get in Contact</h3>
                            <div class="branch-info">
                                {% if contacts.phone_number %}
                                    <div class="branch-info--phone-number h3 text-uppercase">{{ contacts.phone_number }}</div>
                                {% endif %}
                                <a href="#" class="btn btn-lg btn-secondary text-uppercase">Email Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if post.nh_properties_development_shortcode %}

        <section class="page-section page-section--padding50 section-new-home-developments">
            <div class="container">
                <div class="page-section--heading">
                    <h3 class="text-uppercase">Properties at this development</h3>
                </div>

                {{ post.nh_properties_development_shortcode | shortcodes }}

            </div>
        </section>

    {% endif %}


{% endblock %}
