<div class="blog-post">
    <div class="blog-post--image">
        <a href="{{ post.link }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail | resize(740,540) }}">
            {% else %}
                <img src="{{ theme.link ~ '/dist/images/placeholder/placeholder740x540.jpg' }}">
            {% endif %}
            <div class="blog-post--image__cat text-danger">Market Insights</div>
        </a>
    </div>
    <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
    {% if post.post_excerpt %}
        {{ post.post_excerpt | wpautop }}
    {% else %}
        {{ post.post_content | excerpt(20) | wpautop }}
    {% endif %}
</div>
