{% set shortcode_form_id = 'shortcode-popup-' ~ random() %}

<div class="valuation-type-block">
    {% if data.title %}
        <h3 class="text-uppercase">{{ data.title }}</h3>
    {% endif %}

    {% if data.features_list %}

        <ul>

            {% for item in data.features_list %}

                <li>{{ item.feature }}</li>

            {% endfor %}

        </ul>

    {% endif %}

    {% if data.alt_action %}
        {% set alt_action_css = '' %}
        {% if 'tel:' in data.alt_action.url %}
            {% set alt_action_css = 'phone-number sales' %}
        {% endif %}
        <div class="alt-action text-center">
            {% include 'components/parts/link.twig' with {
                link: data.alt_action,
                css_class: alt_action_css
            } %}
        </div>
    {% endif %}

    {% if data.button.type == 'link' %}
        {% include 'components/parts/link.twig' with {
            link: data.button.link,
            css_class: 'btn btn-lg btn-block btn-primary text-uppercase'
        } %}
    {% elseif data.button.type == 'shortcode_form' %}
        <a class="btn btn-lg btn-block btn-primary text-uppercase" data-fancybox data-src="#{{ shortcode_form_id}}" href="javascript:;">{{ data.button.title }}</a>

        <div id="{{ shortcode_form_id }}" class="valuation-popup" style="display:none; max-width:600px">
            <h3 class="mb-3">{{ data.button.title }}</h3>
            <div class="valuation-popup--form-wrap">
                {{ data.button.shortcode_form | shortcodes }}
            </div>
        </div>

    {% else %}
        <a href="javascript:;" onclick="{{ data.button.function }}" class="btn btn-lg btn-block btn-primary text-uppercase">{{ data.button.title }}</a>
    {% endif %}
</div>
